@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.page {
    background-color: $ui-background;
    min-height: 100%;
}

.cardContainer {
    background-color: $ui-02;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: spacing.$spacing-03;
    width: 100%;
    padding: 0 spacing.$spacing-05 spacing.$spacing-07 spacing.$spacing-03;
    margin-top: -(spacing.$spacing-03);
}

.cardContainer>* {
    min-width: 0;
}

.container {
    background-color: $ui-background;

    :global(.cds--tabs.cds--tabs--contained .cds--tabs__nav-item--selected) {
        background-color: transparent;
        border-left: 1px solid $ui-03;
        border-right: 1px solid $ui-03;
    }
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: spacing.$spacing-05;
    padding: spacing.$spacing-05;
    background-color: $ui-background;
}

.headerButtons {
    display: flex;
    align-items: center;
    gap: spacing.$spacing-03;
}

.tableContainer {
    border: 1px solid $ui-03;
    margin: 0 spacing.$spacing-05;
    padding: 0;

    a {
        text-decoration: none;
    }

    th {
        color: $text-02;
    }

    :global(.cds--data-table) {
        background-color: $ui-03;
    }

    :global(.cds--toolbar-search-container-active.cds--search) {
        margin-right: spacing.$spacing-05;
    }
}

.tableToolbar {
    position: static;
    overflow: visible;
    background-color: transparent;
}

.toolbarContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: spacing.$spacing-05;
    width: 100%;
    min-height: spacing.$spacing-07;
    padding: spacing.$spacing-03 0;
}

.tableTitle {
    @include type.type-style('heading-compact-02');

    color: $text-02;
    margin: 0;
    white-space: nowrap;
}

.search {
    max-width: 16rem;

    input {
        background-color: $ui-02 !important;
    }
}

.activeVisitsTable {
    tr:last-of-type {
        td {
            border-bottom: none;
        }
    }
}

.statusContainer {
    display: flex;
    align-items: center;

    svg {
        margin-right: spacing.$spacing-03;
    }
}

.actionsContainer {
    display: flex;
    align-items: center;
    gap: spacing.$spacing-02;
}

.tileContainer {
    background-color: $ui-02;
    border-top: 1px solid $ui-03;
    padding: spacing.$spacing-12 0;
}

.tile {
    margin: auto;
    width: fit-content;
}

.tileContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    @include type.type-style('heading-compact-02');

    color: $text-02;
    margin-bottom: spacing.$spacing-03;
}

.helper {
    @include type.type-style('body-compact-01');

    color: $text-02;
    margin: 0;
}

.paginationOverride {
    border-top: 1px solid $ui-03;
    margin: 0 spacing.$spacing-05;
}

/* Tablet */
:global(.omrs-breakpoint-lt-desktop) {
    .cardContainer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding-right: spacing.$spacing-03;
    }
}

/* Mobile */
@media (max-width: 672px) {
    .cardContainer {
        grid-template-columns: 1fr;
        padding: spacing.$spacing-03;
        margin-top: 0;
    }

    .headerContainer {
        align-items: flex-start;
        flex-direction: column;
    }

    .tableContainer {
        margin: 0 spacing.$spacing-03;
    }

    .toolbarContent {
        align-items: flex-start;
        flex-direction: column;
        gap: spacing.$spacing-03;
    }

    .search {
        max-width: 100%;
        width: 100%;
    }

    .paginationOverride {
        margin: 0 spacing.$spacing-03;
    }
}