@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '../../root.scss';

.desktopOverlay {
  position: fixed;
  top: spacing.$spacing-09;
  right: 0;
  bottom: 0;
  width: 37rem;
  height: calc(100vh - 3rem);
  background-color: $ui-01;
  border-left: 1px solid $text-03;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tabletOverlay {
  position: fixed;
  inset: 0;
  height: 100vh;
  background-color: $ui-01;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.desktopHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: spacing.$spacing-09;
  background-color: $ui-03;
  border-bottom: 1px solid $text-03;
  flex-shrink: 0;
}

.tabletOverlayHeader {
  position: sticky;
  top: 0;
  z-index: 1;

  button {
    @include brand-01(background-color);
  }

  .headerContent {
    color: $ui-02;
  }
}

.headerContent {
  @include type.type-style('heading-compact-02');

  color: $ui-05;
  padding: 0 spacing.$spacing-05;
  margin: 0;
}

.closePanelButton {
  color: $ui-05;
  fill: $ui-05;
}

.overlayContent {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}

/* Desktop */
:global(.omrs-breakpoint-gt-tablet) {
  .overlayContent {
    padding: 0;
  }
}

/* Tablet */
:global(.omrs-breakpoint-lt-desktop) {
  .overlayContent {
    padding: 0;
  }
}

@media (max-width: 672px) {
  .headerContent {
    padding: 0 spacing.$spacing-04;
  }
}