@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/spacing';
@use '@openmrs/esm-styleguide/src/vars' as *;

.container {
  width: 100%;
  min-height: calc(100vh - #{spacing.$spacing-09});
  background-color: $ui-background;
  box-sizing: border-box;
  overflow-x: hidden;
}

:global(.omrs-breakpoint-gt-tablet) {
  .container {
    margin-left: var(--omrs-sidenav-width);
    width: calc(100% - var(--omrs-sidenav-width));
  }
}